<!--
* Auteur :  DWAPS Formation - Michael Cornillon
* Mail :    contact@dwaps.fr
* Tel :     0651279211
* Site :    http://dwaps.fr
* Date :    14/01/2017
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}DWAPS Formation{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset( '/bundles/dwapscore/lib/bootstrap/dist/css/bootstrap.min.css' ) }}">
            <link rel="stylesheet" href="{{ asset( '/bundles/dwapscore/lib/animate.css/animate.min.css' ) }}">

            {% stylesheets 'bundles/dwapscore/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    
    <body class="animated fadeIn dwaps-bg-lightblue">
        
        {#
        <div class="img-loading">
            {% image '@DWAPSCoreBundle/Resources/public/images/loading.gif' %}
                <img src="{{ asset_url }}" alt="loading">
            {% endimage %}
        </div>
        #}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset( '/bundles/dwapscore/lib/jquery/dist/jquery.min.js' ) }}"></script>
            {% javascripts '@DWAPSCoreBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
