{% extends "DWAPSCoreBundle::layout.html.twig" %}


{% block title %}
    {{ parent() }} - Liste des tutoriels
{% endblock %}


{% block dwaps_core_menu %}
	{{
		render(
			controller( 'DWAPSCoreBundle:Main:menu', {
				first_start: "accueil",
				onglet_actif: 1
			})
		)
	}}
{% endblock %}


{% block dwaps_core_body %}

	<div class="row text-center margin-xtrem-top">
		<div class="col-xs-12">
			{{
				render( controller( "DWAPSCoreBundle:Tuto:pagination" ) )
			}}
		</div>
	</div>

	<div class="row">
		{% for tuto in tutorials %}

			{% if loop.index % 2 != 0 %}
				<div class="row">&nbsp;</div>
				<div class="dwaps-card col-sm-12 col-md-5 offset-left margin-top">
			{% else %}
				<div class="dwaps-card col-sm-12 col-md-5 col-md-offset-2 offset-right margin-top">
			{% endif %}
			
			
				<a href="{{ path( 'dwaps_core_tutorial', { slug: tuto.slug } ) }}">

						<h3 class="dwaps-red margin-bottom">{{ tuto.title }}</h3>

						<div class="text-center">
							{% if tuto.imgPathExists %}
		                        <img src="{{ asset( '/bundles/dwapscore/images/' ~ tuto.image.url ~ '.png' ) }}" alt="tuto.image.alt">
		                    {% else %}
		                        <div class="no-tuto"></div>
							{% endif %}
						</div>

						<p class="margin-top">
							{{ tuto.description }}
						</p>
						<p class="margin-top">
							{% for cat in tuto.category %}
								<a href="#" class="label dwaps-bg-blue">
								<!-- <a href="/category/{{ cat.route }}" class="label dwaps-bg-blue"> -->
							    	{{ cat.name }}
								</a>
							{% endfor %}
						</p>
				</a>

			</div>
		{% else %}
		    <div class="dwaps-card margin-xtrem-top">
		    	Pas de tutos pour le moment !!!
		    	<!-- Faire un formulaire pour garder l'email des interessés -->
		    </div>
		{% endfor %}
	</div>

	<div class="row text-center">
		<div class="col-xs-12">
			{{
				render( controller( "DWAPSCoreBundle:Tuto:pagination" ) )
			}}
		</div>
	</div>

{% endblock %}
