{% extends "DWAPSCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Présentation
{% endblock %}

{% block dwaps_core_menu %}
	{{
		render(
			controller( 'DWAPSCoreBundle:Main:menu', {
				first_start: "accueil",
				onglet_actif: 1
			})
		)
	}}
{% endblock %}

{% block dwaps_core_body %}

		{% for tuto in tutorials %}

			{% if loop.first %}

				{% for flash in app.session.flashbag.get( 'no_tuto' ) %}
					<div class="dwaps-card dwaps-blue dwaps-flash margin-xtrem-top">
					    <div class="row">
					    	<div class="col-xs-12">
						    	<h3>{{ flash }}</h3>
					    	</div>
					    </div>
					</div>
					<div class="dwaps-card margin-top">
				{% else %}
					<div class="dwaps-card margin-xtrem-top">
				{% endfor %}

		

			{% elseif loop.last %}
				<div class="dwaps-card margin-top margin-bottom">

			{% else %}
				<div class="dwaps-card margin-top">
			{% endif %}
			
				<a href="{{ path( 'dwaps_core_tutorial', { id: loop.index } ) }}">
					<div class="row">
						<div class="col-xs-12">
							<h1 class="dwaps-red">{{ tuto.title }}</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-md-4">
							<img src="bundles/dwapscore/images/{{ tuto.image.url }}" alt="{{ tuto.image.alt }}" />
						</div>
						<div class="col-xs-12 col-md-8 margin-top">
							<p>
								{{ tuto.description }}
							</p>
							<p class="margin-top">
								<a href="#" class="label dwaps-bg-blue">
									Catégorie : {{ tuto.category }}
								</a>
							</p>
						</div>

					</div>
				</a>
			</div>
		{% else %}
		    <div class="dwaps-card margin-xtrem-top">
		    	Pas de tutos pour le moment !!!
		    	<!-- Faire un formulaire pour garder l'email des interessés -->
		    </div>
		{% endfor %}

{% endblock %}
