{% extends "DWAPSCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Tutoriel
{% endblock %}

{% block dwaps_core_menu %}
	{{
		render(
			controller( 'DWAPSCoreBundle:Main:menu', {
				first_start: "accueil",
				onglet_actif: 1
			})
		)
	}}
{% endblock %}

{% block dwaps_core_body %}

	<div class="dwaps-card tuto margin-xtrem-top">
	
			<div class="row">
				<div class="col-xs-12">
					<h3 class="dwaps-red">{{ tuto.title }}</h3>
					<p class="small-labels text-center">
						{% for cat in tuto.category %}
							<a href="#" class="label dwaps-bg-blue">
							<!-- <a href="/category/{{ cat.route }}" class="label dwaps-bg-blue"> -->
						    	{{ cat.name }}
							</a>
						{% endfor %}
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 margin-top">
					{% for content in tuto.tutoContent %}
						<h2 class="chapter">{{ content.chapter }}</h2>
					    <div class="paragraph">
					    	{{ content.paragraph | raw }}
					    </div>
					{% else %}
					    <p class="paragraph">
					    	Pas de contenu pour le moment !
					    </p>
					{% endfor %}
					{#
					<p class="margin-top">
						<a href="#" class="label dwaps-bg-blue">
							Catégorie : {{ tuto.category }}
						</a>
					</p>
					#}
				</div>
			</div>
			<div class="row">
				<a href="#" class="col-xs-2 col-xs-offset-10">↑</a>
			</div>

	</div>

{% endblock %}
